@media screen and (max-width : 512px){
    font-size : 5px;
    li{
      color : white;
      background-color : black;
    }
  }
  
  /*personnalisation*/
  h1{
    font-family : "optima", sans-serif;
  }
  
  h3{
    font-family : "optima", sans-serif;
  }
  
  p{
    font-family : "arial-narrow", sans-serif;
  }
  
  ul{
    font-family : "arial-narrow", sans-serif;
  }
  
  ol{
    font-family : "arial-narrow", sans-serif;
  }
  
  figcaption{
    font-family : "arial-narrow", sans-serif;
  }
  
  bleu{
    color : #2E69FF;
  }
  
  blanc{
    color : white;
  }
  
  rouge{
    color : #FF1313;
  }
  
  rose{
    color : #FF75CF;
  }
  
  /*flexbox principale */
  .flexbox-main{
    display : flex;
    flex-direction : column;
    background-color : #AAABFE;
    width : 100%;
    height : 100%;
    border : solid;
  }
  
  /*Photo + présentation*/
  .cadre-presentation{
    display : flex;
    flex-direction : row;
    background-color : #FA886C;
    height : 30%;
    border : solid;
    margin-left : 20px;
    margin-right : 20px;
    margin-top : 20px;
    margin-bottom : 10px
  }
  
  .contenu-presentation{
    display : flex;
    flex-direction : column;
    text-indent : 10px;
    width : 80%;
    margin-left : 20px;
    margin-top : 10px;
    margin-bottom : 10px;
  }
  
  .cadre-photo{
    display : flex;
    border : solid;
    margin-left : 20px;
    margin-top : 40px;
    margin-bottom : 40px;
    height : 205px;
    width : 155px;
  }
  
  /*cursus*/
  .cadre-cursus{
    display : flex;
    height : 200px;
    margin-left : 19px;
    margin-right : 20px;
    margin-top : 10px;
    margin-bottom : 10px;
  }
  
  .cursus-titre{
    display : flex;
    justify-content : center;
    align-items : center;
    border : solid;
    background-color : #FFC922;
    width : 20%;
    margin-right : 10 px;    
  }
  
  .cursus-contenu{
    display : flex;
    align-items : center;
    border : solid;
    background-color : #19FF79;
    margin-left : 10px;
    width : 81%;
  }
  
  /*Experiences*/
  .cadre-experiences{
    display : flex;
    height : 130px;
    margin-left : 19px;
    margin-right : 20px;
    margin-top : 10px;
    margin-bottom : 10px;
  }
  
  .experiences-titre{
    display : flex;
    justify-content : center;
    align-items : center;
    border : solid;
    background-color : #A919FF;
    width : 20%;
    margin-right : 10 px;   
  }
  
  .experiences-contenu{
    display : flex;
    align-items : center;
    border : solid;
    background-color : yellow;
    margin-left : 10px;
    width : 81%;
  }
  
  /*Diplômes (plômes)*/
  .diplomes-cadre{
    display : flex;
    height : 250px;
    margin-left : 19px;
    margin-right : 20px;
    margin-top : 10px;
    margin-bottom : 10px;
  }
  
  .diplomes-titre{
    display : flex;
    justify-content : center;
    align-items : center;
    border : solid;
    background-color : #0E0840;
    width : 20%;
    margin-right : 10 px;
  }
  
  .diplomes-contenu{
    display : flex;
    border : solid;
    background-color : ;
    margin-left : 10px;
    width : 80%;
  }
  
  /*Le tableau (diplômes)*/
  table{
    table-layout: fixed;
    border-collapse : collapse;
    width: 100%;
    height : 100%;
  }
  
  th{
    border : solid;
    font-family : 'arial black';
  }
  
  td{
    border : solid;
    text-align : center;
    font-family : "arial";
  }
  
  /*Activités*/
  .cadre-activites{
    display : flex;
    height : 100px;
    margin-left : 19px;
    margin-right : 20px;
    margin-top : 10px;
    margin-bottom : 10px;
  }
  
  .activites-titre{
    display : flex;
    justify-content : center;
    align-items : center;
    border : solid;
    background-color : #19670E;
    width : 20%;
    margin-right : 10 px;
  }
  
  .activites-contenu{
    display : flex;
    border : solid;
    background-color : #FF4FF7;
    text-indent : 10px;
    margin-left : 10px;
    width : 80%;
  }
  
  /*voyage*/
  .cadre-voyage{
    display : flex;
    height : 300px;
    margin-left : 19px;
    margin-right : 20px;
    margin-top : 10px;
    margin-bottom : 10px;
  }
  
  .voyage-titre{
    display : flex;
    justify-content : center;
    align-items : center;
    border : solid;
    background-color : #2A42E5;
    width : 20%;
    margin-right : 10 px;
  }
  
  .voyage-contenu{
    display : flex;
    border : solid;
    align-items : center;
    justify-content : center;
    background-color : #FFFA62;
    text-indent : 10px;
    margin-left : 10px;
    width : 80%;
  }
  
  /*drapeau*/
  .drapeau{
    display : flex;
    justify-content : center;
    align-items : center;
    height : 300px;
    width : 800px;
  }
  