* {
  box-sizing: border-box; /* définit la façon dont la hauteur et la largeur totale d'un élément */
}

/* contenu html dedans : texte, image, vidéo, audio */
body { 
  margin: 0; 
}
/* fin contenu html dedans : texte, image, vidéo, audio */

.clearfix {
  clear:both; /* indique que l'élément est déplacé vers le bas afin de dégager les flottements à gauche et à droite */
}

/* photo menu */
.header-banner{ 
  
  padding-bottom:38px;
  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;
  background-color: transparent;
  background-repeat:no-repeat;
  background-position:right center;
  background-attachment:fixed;
  background-size:cover;
  width:100%;
  max-width:100%;
}
/* fin photo menu */

/* tous le menu en haut */
.container-width{
  position: fixed;
  width:100%;
  max-width:100%;
  height: 100px;
  margin:0 auto;
  padding-bottom: 50px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
  max-width:100%;

  
}
/* fin tous le menu en haut */
/* logo + menuTextGauche */
.logo-container{
  background-color: #afb345;
  float:left; /* Position de texte à gauche */
  width:0%; /* Conteneur large de texte se trouve MANUEL Gérald */  
  max-width:100%;

} 

.logo { /* écran ordinateur */
 /* background-color: #998954; Définir couleur d'arrière plan */
  position: relative;
  width: 300px;
  /*background-color:#fff; */
  top : 10px;
  left : -44px;
}

.menuTextGauche{ /* MANUEL Gérald */
  position: relative; /* Définit la façon dont un élément est positionné dans un document */
 /* bottom : 65px;  Le bord bas de l'élément est déplacé au-dessus */
  /*background-color:#fff; */
  border-radius:5px; /* Définir des coins arrondis pour la bordure d'un élément */
  width:230px; /* Largeur MANUEL Gérald */
  padding:10px; /* Espace supplémentaire à l'intérieur */
  margin-left: 80px; /* Définit la marge horizental à gauche */
  min-height:30px; /* Définir la hauteur minimale d'un élément */
  text-align:center; /* Définit l'alignement horizental d'un tableau au centre */ 
  line-height:15px; /* Indique la hauteur minimale des lignes au sein de l'élément */
  top: -75px;
  left: 30px;
  color:#4d114f;  /* Couleur de texte se trouve MANUEL Gérald */

}
/* fin logo + menuTextGauche */

/* menu text à droite : acueil, cv, pourquoi nous, contact */
.menu { 
 
  float:left;
  width:100%;   
  margin-left:25%;
  margin-top: 25px;
  max-width: 100%;


}

.menu-item { 
  float:left;
  font-size:15px;
  color:#182153;
  width:220px;
  padding:10px;
  min-height:50px;
  text-align:center;
  line-height:30px;
  font-weight:400;
  max-width: 100%;
  
} 
/* fin menu texte à droite : acueil, cv, pourquoi nous, contact */


/* lien menu */

a:link { /* lien menu : un lien normal non visité */
  color: #4d114f;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 0px 0px 5px rgba(white ,0.95);
  text-decoration: none;

}

a:visited { /*lien menu : un lien que l'utilisateur a visité */
  background-color: #182153;
  padding: 10px;
  color: #182153;
  text-decoration: none;

  
}

a:active {  /* lien menu  : un lien au moment où il est cliqué */
  background-color: rgb(237, 221, 221);
  border: 1px solid black;
  text-decoration: none;

}

a:hover { /*lien menu  : un lien lorsque l'utilisateur le survole (glisse le souris dans le menu) */
  background-color:#ddd;
  box-shadow: 0px 10px 5px 1px rgba(240, 231, 231, 0.823);  
  text-decoration: none;
}

  /* fin lien menu */
#accueil a:hover{
  background-color:none;
  box-shadow: none; 
  border:none;
  color:none;
  background: none;
}

/* collaboration */
.photo-accueil { 
  padding-top:35px;
  padding-bottom:100px;
  margin: 80px;
  margin-top: 130px;
  height: 618px;
  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;
  --fill-layer-background-media-position: fixed; 
  background-image:url("../images/collobaration.jpg"), url("/images/collobaration.jpg");
  background-repeat:no-repeat;
  background-position:right center;
  /* background-attachment:fixed; */
  background-size:cover;
  max-width: 100%;

}

/* fin collaboration */


/* deux block signifie SLAM et Numérique */
.flex-container {
display: flex;

/*background-color: DodgerBlue;*/
}

.flex-container > div {
background-color: #f1f1f1;
margin: 50px;
padding: 15px;
font-size: 18px;
width: 100%;
}
/* fin deux block signifie SLAM et Numérique */


.partage {
  padding-top:35px;
  padding-bottom:100px;
  margin: 80px;
  height: 250px;
  width: 25%;
  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;
  /*--fill-layer-background-media-position: fixed;*/
  width: 80%;
  max-width: 400px;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  background-image:url("../images/formation-partage-pratiques-experience.jpg"), url("/images/formation-partage-pratiques-experience.jpg");
  background-repeat:no-repeat;
  background-position:right center;
  /* background-attachment:fixed; */
  background-size:cover;
  max-width: 100%;

}

/* deux block image */
.flex-container-image-1 {
    display: flex;
    
    /*background-color: DodgerBlue;*/
  }
  
  .flex-container-image-1 > div {
    background-color: #f1f1f1;
    margin: 60px;
    padding: 15px;
    font-size: 18px;
    width: 50%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

  }
  /* fin deux block image */

  .confiance {
    padding-top:35px;
    padding-bottom:100px;
    margin: 80px;
    height: 250px;
    width: 25%;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    /*--fill-layer-background-media-position: fixed;*/
    width: 80%;
    max-width: 400px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-image:url("../images/confiance-ensemble.jpg"), url("/images/confiance-ensemble.jpg");
    background-repeat:no-repeat;
    background-position:right center;
    /* background-attachment:fixed; */
    background-size:cover;
    max-width: 100%;

  }


  .Liberte {
    padding-top:35px;
    padding-bottom:100px;
    margin: 80px;
    height: 250px;
    width: 25%;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    /*--fill-layer-background-media-position: fixed;*/
    width: 80%;
    max-width: 400px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-image:url("../images/libre.jpg"), url("/images/libre.jpg");
    background-repeat:no-repeat;
    background-position:right center;
    /* background-attachment:fixed; */
    background-size:cover;
    max-width: 100%;

  }

  .Progres {
    padding-top:35px;
    padding-bottom:100px;
    margin: 80px;
    height: 255px;
    width: 25%;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    /*--fill-layer-background-media-position: fixed;*/
    width: 80%;
    max-width: 400px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    background-image:url("../images/top-team-mentor-character-flat-illustration-vector.jpg"), url("/images/top-team-mentor-character-flat-illustration-vector.jpg");
    background-repeat:no-repeat;
    background-position:right center;
    /* background-attachment:fixed; */
    background-size:cover;
    max-width: 100%;

  }

  .photo-groupe-ensemble { 
    padding-top:35px;
    padding-bottom:100px;
    margin: 80px;
    margin-top: 10px;
    height: 500px;
    color:#ffffff;
    font-family:Helvetica, serif;
    font-weight:100;
    /* --fill-layer-background-media-position: fixed; */
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

    background-image:url("../images/ensemble.jpg"), url("/images/ensemble.jpg");
    background-repeat:no-repeat;
    background-position:right center;
   /* background-attachment:fixed; */
    background-size:cover;
    max-width: 100%;
    max-height: 100%;
}

 @media screen and (max-width: 1000px) {
  #container-width {
    height: 130px;
    max-width: 100%;
  }

  #menu {
    padding-left: 5px;
    max-width: 100%;
  }
 
}
  #menu-item {
    width:180px;
  }
  /*#photo-accueil {


  color:#ffffff;
  font-family:Helvetica, serif;
  font-weight:100;
  background-image:url("../images/collobaration.jpg"), url("/images/collobaration.jpg");
  background-repeat:no-repeat;
  background-position:left center;
  background-size:1400px;
  height: 1000px;
  max-width: 100%;
  } 



}*/
